/node_modules
/public/hot
/public/foto_uploaded
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
.htaccess
/vendor/laravel/framework/src/Illuminate/Foundation/helper.php
.index.php